<footer class="bg-primary text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center align-items-center">
          <!--Grid column-->
          <div class="col-auto my-4">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 col-12 ">
            <!-- Email input -->
            <div class="form-outline form-white mb-3">
              <input type="email" id="form5Example29" class="form-control" placeholder="Enter Email"  />
              {{!-- <label class="form-label" for="form5Example29">Email address</label> --}}
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto my-5">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Copyright © 2022 
    <a class="text-white align-items-center justify-content-center" href="https://gautampandit.epizy.com/">GautamPandit.com</a>
    | All Right Reserved.
  </div>
  <!-- Copyright -->
</footer>